/* BODY */
body {
  background-image: linear-gradient(135deg, #000000f5, #038cfdde, #303030);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;

}

p {
  font-family: 'Manrope', sans-serif;
}

/* HEADER */
header {
  padding: 30px;
  background-color: rgba(0, 68, 131, 0.815);
  box-shadow: 0 30px 25px rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* INPUT DI RICERCA/FILTRAGGIO */
.operation {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
}

.operation,
input,
select {
  border-radius: 8px;
  padding: 6px;
}

/* CARD HOME*/
.card-home {
  background: rgba(34, 34, 34, 0.548);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 1.2rem;
  color: #ffffff;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-home:hover {
  transform: scale(1.035);
  transition: 0.2s;
}

.card-home button {
  background-color: rgb(255, 255, 255);
  width: 37%;
}


/* CARD COMPARATORE */
.card {
  position: relative;
  overflow: hidden;
  background: rgba(34, 34, 34, 0.548);
  color: white;
}

.card {
  position: relative;
  overflow: hidden;
}

.card img.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translate(-50%, -50%) scale(0.99);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  background-color: #ffffff;
}

.card:hover img.overlay {
  opacity: 1;
}

.list-comparison {
  background: rgba(255, 255, 255, 0.795);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
}

/* CARD DETTAGLIO */
.card-detail {
  background: rgba(34, 34, 34, 0.548);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 1.2rem;
  color: #ffffff;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-detail {
  background: rgba(255, 255, 255, 0.795);
  color: rgb(0, 0, 0);
  font-size: 19px;
  line-height: 28px;
  border-radius: 10px;
}

.list-detail hr {
  width: 90%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(31, 31, 31);
  color: white;
  width: 100%;
}

/* LOADER */
.loader {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: inline-block;
  border-top: 10px solid #FFF;
  border-right: 10px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border-left: 10px solid #2e2e2e;
  border-bottom: 10px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* UTILITIES */
.no-decoration {
  text-decoration: none;
  color: inherit;
}

.custom-b-l {
  margin-left: 55px;
}

.custom-b-r {
  margin-right: 55px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.price {
  background-color: rgb(16, 160, 47);
  color: rgb(255, 255, 255);
  width: 10%;
  text-align: center;
  border-radius: 10px;
  padding: 6px 1px;
}

.brand {
  background-color: rgba(41, 41, 41, 0.801);
  color: rgb(255, 255, 255);
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.img-small {
  height: 300px;
}

.btn:hover .fa-star {
  color: white !important;
}

.prefer:hover {
  transform: scale(1.035);
  transition: 0.4s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERY */
@media screen and (max-width: 600px) {

  header h2 {
    font-size: 15px;
    position: relative;
    left: -60px;
  }

  .operation input {
    max-width: 50px;
  }

  .brand {
    width: 100%;
  }

  .price {
    width: 50%;
  }

  .p-query {
    padding-bottom: 15px;
  }
}