/* BODY */
body {
  background-image: linear-gradient(to right, #00c6ff, #0073ffc9, #00c6ff);
}

/* HEADER */
header {
  padding: 30px;
  background-color: rgba(0, 62, 121, 0.815);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white
}

/* INPUT DI RICERCA/FILTRAGGIO */
.operation {
  border: 1px solid black;
  border-radius: 10px;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}


/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(31, 31, 31);
  color: white;
  width: 100%;
  position: sticky;
}